main {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.top__info {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    z-index: 1;
}


.layoutContainer {
    background-color: #555;
}

.layoutContainer:not(:fullscreen) {
    object-fit: contain;
    user-select: text;
    position: fixed !important;
    box-sizing: border-box !important;
    min-width: 0px !important;
    max-width: none !important;
    min-height: 0px !important;
    max-height: none !important;
    width: 100% !important;
    height: 100% !important;
    transform: none !important;
    inset: 0px !important;
    margin: 0px !important;
}

:not(:root):fullscreen::backdrop {
    /* background-color: #555; */
}

.optnBtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    z-index: 1;
}