.toolbarFooterContainer {
  display: block;
  margin: 0;
  padding-left: 2vw;
  padding-right: 2vw;
  width: 96vw;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.slider {
  margin-left: 16px;
  margin-right: 16px;
}

.arrow {
  color: #eee !important;
}

.zoom__input {
  width: 40px;
}